<h2>New Celebrities</h2>

<form action="/celebrities/create" method="POST">
 <label> Name:
    <input type="text" name="name" id="name" placeholder="Name"/>
  </label>
  <label> Occupation:
    <input type="text" name="occupation" id="occupation" placeholder="occupation" />
  </label>
  <label> Catch Phrase:
    <input type="text" name="catchPhrase" id="catchPhrase" placeholder="Catch Phrase"> </input>
  </label>


   <button type="submit"> Create Celebrity </button>
</form>