<h1>Celebrities</h1>
<p>Welcome to Movies Celebrities</p>



<a href="/celebrities"> Check up the celebrities</a>
<br>
<br>
<a href="/movies"> Check up the movies</a>
<br>
<br>
<a href="/celebrities/create"> Add a new Celebrity</a>
<br>
<br>
<a href="/movies/create"> Add a new Movie</a>